In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import requests
from bs4 import BeautifulSoup

In [6]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [7]:
url = 'https://finance.naver.com/item/sise_day.naver?code=005930&page=11'

In [8]:
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')

In [9]:
pd.read_html(res.text)

ValueError: No tables found

In [14]:
driver = webdriver.Chrome()
driver.get(url)
html = driver.page_source

In [32]:
df = pd.read_html(html)
df = df[0]
df.dropna(inplace=True)
df

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.09.09  75300.0  1000.0  76400.0  76600.0  75000.0  17600770.0
2   2021.09.08  76300.0   200.0  76000.0  76400.0  75600.0  11798147.0
3   2021.09.07  76100.0  1200.0  77100.0  77100.0  75900.0  13239401.0
4   2021.09.06  77300.0   700.0  76800.0  77600.0  76600.0  12861180.0
5   2021.09.03  76600.0   600.0  76400.0  76700.0  76000.0  12096419.0
9   2021.09.02  76000.0   800.0  76800.0  76800.0  75700.0  15347486.0
10  2021.09.01  76800.0   100.0  76700.0  77100.0  75900.0  16114775.0
11  2021.08.31  76700.0  2100.0  74900.0  76700.0  74300.0  24630370.0
12  2021.08.30  74600.0   300.0  75400.0  75500.0  74200.0  12686999.0
13  2021.08.27  74300.0   300.0  74300.0  75000.0  73800.0  15172748.0

In [18]:
df = pd.read_csv('./data/universe_code.csv')
codes = df.종목코드.apply(lambda x: x[1:]).values
codes

array(['000210', '000220', '000240', '000250', '000660', '000990',
       '001340', '001390', '001500', '001750', '001800', '001820',
       '001880', '002310', '002350', '002390', '002870', '003090',
       '003220', '003410', '003530', '003550', '003670', '003780',
       '003850', '004000', '004170', '004490', '004590', '005290',
       '005670', '005690', '005880', '005930', '006060', '006220',
       '006390', '006400', '006620', '006650', '006740', '007330',
       '007340', '007570', '007700', '008490', '009150', '009420',
       '009780', '009970', '010050', '010130', '010240', '010640',
       '010780', '011040', '011170', '011330', '011780', '012330',
       '012510', '012630', '012700', '012750', '012790', '013030',
       '013120', '013810', '013890', '014570', '014680', '014830',
       '015230', '015710', '016090', '016360', '016580', '016600',
       '016610', '017040', '017510', '017890', '017960', '018250',
       '018260', '018310', '019550', '020000', '020150', '020710',
       '021080', '021240', '022220', '023590', '023600', '023760',
       '023770', '023900', '023910', '024110', '024120', '024720',
       '025900', '026890', '026960', '027360', '027410', '027970',
       '028100', '028670', '029460', '029780', '029960', '030190',
       '030210', '030520', '030530', '030610', '031390', '031430',
       '032080', '032190', '032500', '032560', '032620', '032850',
       '033100', '033130', '033160', '033270', '033290', '033500',
       '033640', '033660', '033780', '033830', '034810', '034830',
       '035250', '035420', '035460', '035600', '035900', '036120',
       '036200', '036480', '036490', '036530', '036560', '036570',
       '036800', '036810', '036830', '036890', '036930', '038390',
       '038540', '038870', '039010', '039340', '039420', '039440',
       '039490', '039840', '039860', '040160', '040420', '040910',
       '041460', '041830', '041910', '041920', '042370', '042500',
       '042510', '042700', '043150', '044060', '044340', '044450',
       '045060', '045300', '045520', '046110', '046310', '046440',
       '047770', '047810', '049070', '049720', '049960', '050760',
       '050960', '051360', '051600', '051900', '052260', '052330',
       '052400', '052690', '052790', '052860', '053030', '053210',
       '053300', '053610', '053690', '053800', '054040', '054450',
       '054670', '054950', '055490', '055550', '056190', '056360',
       '058400', '058470', '058630', '059090', '059120', '059210',
       '060150', '060250', '060540', '060980', '061970', '062970',
       '063160', '063760', '064290', '064760', '064960', '065130',
       '065370', '065510', '065680', '066670', '067080', '067160',
       '067830', '067900', '068270', '068330', '068790', '068930',
       '069080', '069260', '069960', '071050', '071200', '072020',
       '072990', '073010', '073110', '073490', '075130', '077360',
       '078140', '078340', '079940', '079960', '080000', '081000',
       '081660', '082920', '083450', '083550', '083930', '084110',
       '084370', '084680', '084850', '086390', '086450', '086520',
       '086670', '086790', '086900', '088130', '088980', '089030',
       '089140', '089600', '089790', '089890', '089970', '089980',
       '090460', '090850', '091440', '091700', '091990', '092440',
       '092730', '093320', '093520', '094820', '094840', '094850',
       '095610', '095660', '096240', '096530', '097230', '097520',
       '097800', '097870', '098460', '099190', '099320', '100120',
       '100250', '100700', '100790', '101160', '101240', '101490',
       '102120', '102710', '104460', '104540', '104830', '105560',
       '105740', '108380', '108490', '109740', '110990', '111710',
       '111770', '114090', '115960', '119610', '119860', '120240',
       '121600', '122310', '122450', '122990', '123890', '126560',
       '127710', '128940', '130660', '131030', '131290', '131370',
       '131390', '131970', '136540', '137950', '138080', '138930',
       '139130', '140860', '141000', '141080', '143240', '144960',
       '145020', '145720', '147830', '148150', '149950', '149980',
       '151860', '161390', '166090', '169330', '170790', '170900',
       '171010', '171090', '171120', '175330', '178320', '178920',
       '179290', '179900', '183300', '186230', '187870', '189300',
       '189690', '189980', '192080', '192250', '192440', '194700',
       '198080', '200130', '200470', '200670', '200780', '201490',
       '203450', '203650', '204270', '204620', '205100', '206400',
       '206640', '207760', '207940', '208350', '208710', '210540',
       '210980', '213420', '214150', '214180', '214270', '214320',
       '214450', '215200', '216050', '217190', '217500', '217600',
       '217820', '218410', '219420', '221840', '222080', '225330',
       '225530', '225590', '226340', '227840', '228670', '228850',
       '230360', '234080', '234340', '234690', '236200', '237750',
       '237820', '238200', '238490', '240810', '241560', '241590',
       '241690', '241770', '241790', '243070', '243840', '247540',
       '250000', '251270', '251370', '251630', '251970', '253450',
       '255440', '258830', '260660', '263600', '263690', '263720',
       '263750', '263860', '264450', '264660', '267320', '267790',
       '270520', '270870', '271560', '272110', '272290', '272550',
       '277410', '278280', '278650', '281740', '281820', '282690',
       '284740', '285490', '290120', '290270', '290380', '290520',
       '290650', '290670', '290720', '293480', '297090', '299900',
       '300120', '302430', '306040', '308100', '312610', '317330',
       '322180', '327260', '900250', '900270', '900280', '900300',
       '900310', '900340', '950110', '950180'], dtype=object)

In [20]:
import MySQLdb
db = MySQLdb.connect(host='localhost', user='root', password='1234')
cursor = db.cursor()

In [24]:
sql ='show databases;'

cursor.execute(sql)
cursor.fetchall()

(('information_schema',),
 ('budongsan',),
 ('employees',),
 ('fin_db',),
 ('gmarketdb',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('tabledb',),
 ('world',))

In [25]:
sql = 'use fin_db'
cursor.execute(sql)

0

In [29]:
sql = """
create table if not exists stock_table(
code char(6),
date date,
close float,
margin float,
start float,
high float,
low float,
volume float
)
"""

cursor.execute(sql)

0

In [34]:
import time

In [42]:
url = 'https://finance.naver.com/item/sise_day.naver?code={}&page={}'

for code in codes[:3]:
    print(code, "=============")
    for i in range(1, 3):
        driver.get(url.format(code, i))
        time.sleep(0.5)
        html = driver.page_source
        
        df = pd.read_html(html)[0]
        df.dropna(inplace=True)
        # print(df)
        print('------------')
        
        for i in range(len(df)):
            code = code
            date = df.iloc[i][0]
            close = df.iloc[i][1]
            margin = df.iloc[i][2]
            start = df.iloc[i][3]
            high = df.iloc[i][4]
            row = df.iloc[i][5]
            volumn = df.iloc[i][6]
            
            sql = """
            insert into stock_table values('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}')
            """.format(code, date, close, margin, start, high, row, volumn)
            
            cursor.execute(sql)
driver.close()

000210 =============
------------
------------
000220 =============
------------
------------
000240 =============
------------
------------

In [43]:
sql = "select * from stock_table;"

st_price = pd.read_sql(sql, db)
st_price

      code        date    close  margin    start     high      low     volume
0   000210  2022-02-09  60200.0   600.0  59700.0  60400.0  59000.0    11911.0
1   000210  2022-02-08  59600.0  1000.0  59100.0  61000.0  58600.0    83130.0
2   000210  2022-02-07  58600.0  1100.0  57500.0  58800.0  57000.0    53386.0
3   000210  2022-02-04  57500.0   900.0  56900.0  57800.0  56600.0    34228.0
4   000210  2022-02-03  56600.0   700.0  56300.0  57500.0  56300.0    44961.0
5   000210  2022-01-28  55900.0  1700.0  54400.0  57500.0  53900.0    95644.0
6   000210  2022-01-27  54200.0  2800.0  57000.0  57100.0  53900.0    97345.0
7   000210  2022-01-26  57000.0   100.0  56600.0  57800.0  56600.0    39639.0
8   000210  2022-01-25  57100.0  1600.0  58200.0  58500.0  56600.0   106342.0
9   000210  2022-01-24  58700.0  1700.0  59300.0  61000.0  58300.0   120883.0
10  000210  2022-01-21  60400.0  2500.0  61500.0  63100.0  59900.0   138791.0
11  000210  2022-01-20  62900.0   100.0  62700.0  64100.0  62700.0    34951.0
12  000210  2022-01-19  63000.0   600.0  62700.0  64800.0  62100.0    72613.0
13  000210  2022-01-18  62400.0  2200.0  64200.0  64800.0  62300.0    45714.0
14  000210  2022-01-17  64600.0   100.0  63800.0  65000.0  63700.0    56524.0
15  000210  2022-01-14  64500.0  1100.0  65500.0  65500.0  64500.0    57603.0
16  000210  2022-01-13  65600.0  1300.0  66700.0  67200.0  65600.0    52654.0
17  000210  2022-01-12  66900.0  1100.0  65300.0  67100.0  65300.0    84094.0
18  000210  2022-01-11  65800.0   300.0  65200.0  66400.0  64900.0    77633.0
19  000210  2022-01-10  66100.0   100.0  66100.0  67200.0  65700.0    68614.0
20  000220  2022-02-09   8660.0  1480.0   7220.0   8880.0   7200.0  8600890.0
21  000220  2022-02-08   7180.0   100.0   7250.0   7310.0   7110.0   103370.0
22  000220  2022-02-07   7280.0    80.0   7250.0   7340.0   7110.0   141024.0
23  000220  2022-02-04   7200.0    20.0   7120.0   7290.0   7080.0   160387.0
24  000220  2022-02-03   7180.0   360.0   6970.0   7600.0   6930.0   566487.0
25  000220  2022-01-28   6820.0   400.0   6420.0   6900.0   6420.0   374772.0
26  000220  2022-01-27   6420.0   280.0   6750.0   6770.0   6410.0   184288.0
27  000220  2022-01-26   6700.0    70.0   6580.0   6930.0   6580.0   199668.0
28  000220  2022-01-25   6630.0   360.0   7060.0   7090.0   6610.0   302898.0
29  000220  2022-01-24   6990.0   220.0   7230.0   7330.0   6990.0   126579.0
30  000220  2022-01-21   7210.0    10.0   7160.0   7420.0   7130.0   131155.0
31  000220  2022-01-20   7200.0    40.0   7120.0   7260.0   7120.0   112661.0
32  000220  2022-01-19   7160.0   140.0   7270.0   7380.0   7130.0   111781.0
33  000220  2022-01-18   7300.0   200.0   7580.0   7720.0   7270.0   244286.0
34  000220  2022-01-17   7500.0    70.0   7690.0   8090.0   7450.0   691511.0
35  000220  2022-01-14   7570.0    60.0   7510.0   8300.0   7430.0  2150520.0
36  000220  2022-01-13   7510.0   150.0   7450.0   7580.0   7390.0   197071.0
37  000220  2022-01-12   7360.0   180.0   7190.0   7460.0   7190.0   170144.0
38  000220  2022-01-11   7180.0   270.0   7490.0   7530.0   7150.0   214714.0
39  000220  2022-01-10   7450.0    70.0   7530.0   7580.0   7450.0   136629.0
40  000240  2022-02-09  13650.0   200.0  13650.0  13700.0  13500.0    16566.0
41  000240  2022-02-08  13450.0   250.0  13700.0  14000.0  13400.0    87066.0
42  000240  2022-02-07  13700.0   200.0  13500.0  13800.0  13200.0    87461.0
43  000240  2022-02-04  13500.0   100.0  13300.0  13600.0  13250.0    56484.0
44  000240  2022-02-03  13400.0   450.0  13200.0  13800.0  13100.0   104055.0
45  000240  2022-01-28  12950.0   600.0  12350.0  13100.0  12200.0   121177.0
46  000240  2022-01-27  12350.0   700.0  12950.0  13050.0  12350.0   200947.0
47  000240  2022-01-26  13050.0     0.0  13250.0  13350.0  12750.0   101128.0
48  000240  2022-01-25  13050.0   500.0  13600.0  13650.0  12900.0   216723.0
49  000240  2022-01-24  13550.0   300.0  13750.0  14000.0  13450.0   125162.0
50  000240  2022-01-21  13850.0   200.0  13900.0  14150.0  13850.0    45679.0
51  000240  2022-01-20  14050.0    50.0  13900.0  14100.0  13800.0    77912.0
52  000240  2022-01-19  14100.0    50.0  13950.0  14150.0  13750.0   106121.0
53  000240  2022-01-18  14050.0   400.0  14550.0  14650.0  14000.0    84551.0
54  000240  2022-01-17  14450.0   200.0  14600.0  14600.0  14300.0    71959.0
55  000240  2022-01-14  14650.0   250.0  14800.0  14800.0  14550.0    98298.0
56  000240  2022-01-13  14900.0   100.0  15000.0  15150.0  14800.0    58713.0
57  000240  2022-01-12  15000.0   300.0  14750.0  15150.0  14700.0    99063.0
58  000240  2022-01-11  14700.0   350.0  14950.0  15100.0  14700.0   116065.0
59  000240  2022-01-10  15050.0   200.0  15200.0  15350.0  14950.0    64877.0

In [47]:
st_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code    60 non-null     object
 1   date    60 non-null     object
 2   close   60 non-null     float64
 3   margin  60 non-null     float64
 4   start   60 non-null     float64
 5   high    60 non-null     float64
 6   low     60 non-null     float64
 7   volume  60 non-null     float64
dtypes: float64(6), object(2)
memory usage: 3.9+ KB

In [ ]:
import datetime