In [ ]:
import MySQLdb
import pandas as pd

In [6]:
import MySQLdb
import pandas as pd

In [7]:
db = MySQLdb.connect(host='localhost', user='root', password='1234')
cursor = db.cursor()

In [11]:
sql = 'show databases;'

pd.read_sql(sql, db)

             Database
0  information_schema
1           employees
2               mysql
3  performance_schema
4              sakila
5               sqldb
6                 sys
7             tabledb
8               world

In [12]:
sql = """
create database if not exists 
"""